name: Regression test against insights-core

on:
  pull_request:
    paths:
      - "data/**"
      - "python/**"

jobs:
  centos-stream-9:
    runs-on: "ubuntu-latest"
    container:
      image: "quay.io/centos/centos:stream9"

    steps:
      # We need to replace the GPG keys included in insights-core with our own keys.
      # For that, we need to:
      # - download Insights Core
      # - generate GPG keys
      # - replace the public key in Core
      # - sign list of revoked plays and replace it in Core
      # - sign own playbook
      - name: "Install test requirements"
        run: |
          dnf --setopt install_weak_deps=False install -y python3-pip gpg insights-core

      - name: "Checkout the repository"
        uses: actions/checkout@v5

      - name: "Install as a Python package"
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install .

      - name: "Generate and set up GPG keys"
        run: |
          python3 -m rhc_playbook_lib._keygen --directory .
          cp -f key.public.gpg \
            /usr/lib/python3.9/site-packages/insights/client/apps/ansible/playbook_verifier/public.gpg

      - name: "Sign revocation list"
        run: |
          cat > ./revoked.yaml << EOF
          - name: "Revoked plays"
            revoked_playbooks:
            - name: example_play_that_had_to_be_revoked.yml
              hash: 40a6e9af448208759bc4ef59b6c678227aae9b3f6291c74a4a8767eefc0a401f
          EOF

          rhc-playbook-signer --key ./key.private.gpg --debug \
            --playbook revoked.yaml --revocation-list > \
            /usr/lib/python3.9/site-packages/insights/revoked_playbooks.yaml

      - name: "Run sanity checks on signed playbooks"
        run: |
          mkdir -p /var/lib/insights/ ./signed-playbooks/

          for playbook in data/playbooks/*.yml data/playbooks/*.yaml; do
            if [ -f "$playbook" ]; then
              fname=$(basename "$playbook")

              echo "Signing $fname using rhc-playbook-signer"
              rhc-playbook-signer --key ./key.private.gpg --debug \
                --playbook "$playbook" > "signed-playbooks/$fname"

              echo "Verifying signed $fname using insights-core"
              cat "signed-playbooks/$fname" | python3 -m insights.client.apps.ansible.playbook_verifier --verbose
            fi
          done
